---
- name: check operator version
  fail:
    msg: "operator_version is required"
  when: "operator_version|length == 0"

- name: Find versions from the catalog
  ansible.builtin.shell:
    cmd: >
      set -e -o pipefail;
      ~/clusterconfigs-{{ cluster_name }}/opm render
      {{ catalog_image }} |
      jq -r '.relatedImages[].image'
  args:
    executable: /bin/bash
  register: catalog_data_cmd
  retries: 1
  delay: 5
  until:
    - catalog_data_cmd.rc == 0

- name: set trex-app version from the catalog
  set_fact:
    trex_app_version: "{{ item }}"
  when: '"trex-container-app@" in item'
  loop: "{{ catalog_data_cmd.stdout_lines }}"

- name: set trex-server version from the catalog
  set_fact:
    trex_server_version: "{{ item }}"
  when: '"trex-container-server@" in item'
  loop: "{{ catalog_data_cmd.stdout_lines }}"

- name: set testpmd-lb version from the catalog
  set_fact:
    testpmd_app_version: "{{ item }}"
  when: '"testpmd-container-app-testpmd@" in item'
  loop: "{{ catalog_data_cmd.stdout_lines }}"

- include_tasks: sub.yaml

- include_tasks: app.yaml
