apiVersion: examplecnf.openshift.io/v1
kind: TestPMD
metadata:
  name: testpmd
  namespace: {{ cnf_namespace }}
spec:
  image_testpmd: registry.redhat.io/openshift4/dpdk-base-rhel8:v4.6
  privileged: true
  imagePullPolicy: {{ image_pull_policy }}
{% if enable_lb|bool %}
  ethpeerMaclist: {{ lb_cnf_port_mac_list }}
  size: {{ testpmd_app_size|default(2) }}
{% else %}
  ethpeerMaclist: {{ trex_mac_list }}
  size: 1  
{% endif %}
  networks: {{ cnf_app_networks }}
  terminationGracePeriodSeconds: {{ termination_grace_period_seconds }}
{% if mac_workaround_enable|default(false)|bool %}
  macWorkaroundEnable: true
  macWorkaroundVersion: "{% if 'v0.0.' in operator_version %}4.4{% else %}{{ ocp_version }}{% endif %}"
{% endif %}
