apiVersion: examplecnf.openshift.io/v1
kind: TRexConfig
metadata:
  namespace: {{ cnf_namespace }}
  name: {{ trex_cr_name }}
  annotations:
    "ansible.sdk.operatorframework.io/verbosity": "0"
spec:
{% if trex_core_count|int > 0 %}
  environments:
    trexCoreCount: {{ trex_core_count }}
{% endif %}
  registry: {{ registry_url }}
  org: {{ repo_name }}
  version: {{ app_version }}
  imagePullPolicy: {{ image_pull_policy }}
  networks: {{ networks_trex }}
  enableLb: {{ enable_lb }}
{% if enable_lb|bool %}  
  lbMacs: {{ lb_gen_port_mac_list }}
{% endif %}  
  cpu: 4
{% if trex_config_skip|default(false)|bool %}
  trex_config_skip: true
{% endif %}
{% if trex_privileged|default(false)|bool %}
  privileged: {{ trex_privileged }}
{% endif %}
{% if trex_skip_annot|default(false)|bool %}
  skipAnnot: {{ trex_skip_annot }}
{% endif %}
